body {
    font-family: Arial, sans-serif;
}

header{
    background-image: url('/img/banner.jpg');
    background-size: cover;
    background-position: center;
}

h1, h2 {
    font-weight: bold;
}

footer {
    font-size: 0.9rem;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #92B4CF;
}

